<!-- Navigation Menu -->
<div class="ui vertical left fluid menu">
    <div class="item">
        <div class="header">Vendor</div>
        <div class="menu">
            <a class="item vendor_list" href="/vendor_list.html">Vendor List</a>
        </div>
    </div>
    <div class="item">
        <div class="header">Katalog</div>
        <div class="menu">
            <a class="item katalog_produk detail_produk" href="/katalog_produk.html">Katalog Produk</a>
        </div>
    </div>
    <div class="item">
        <div class="header">Purchasing</div>
        <div class="menu">
            <a class="item pr_list" href="/pr_list.html">Purchase Requisition</a>
        </div>
        <div class="menu">
            <a class="item pr_approval_list" href="/pr_approval_list.html">Purchase Requisition Approval</a>
        </div>
        <div class="menu">
            <a class="item po_list" href="/po_list.html">Purchase Order</a>
        </div>
        <div class="menu">
            <a class="item procurement_list" href="/procurement_list.html">Procurement</a>
        </div>
    </div>
    <div class="item">
        <div class="header">Shopping Cart</div>
        <div class="menu">
            <a class="item shopping_cart" href="/shopping_cart.html">Shopping Cart</a>
        </div>
        <div class="menu">
            <a class="item checkout cetak_invoice" href="/checkout.html">Checkout</a>
        </div>
    </div>
</div>