<!-- Scripts -->
<script src="lib/jquery/dist/jquery.min.js"></script>
<script src="lib/axios/dist/axios.min.js"></script>
<script src="lib/vanilla-router/dist/vanilla-router.min.js"></script>
<script src="lib/semantic-ui-transition/transition.min.js"></script>
<script src="lib/semantic-ui-dropdown/dropdown.min.js"></script>
<script src="lib/jszip.min.js"></script>
<script src="lib/kendo.all.min.js"></script>
<!-- App specifics -->
<script src="js/config.js" type="text/javascript"></script>
<script src="js/app.js" type="text/javascript"></script>