#scrollView{
    height: 210px;
    width: 420px;
    margin-top: 16px;
}
#scrollView img{
    height: 210px;
    width: 420px;
    object-fit: contain;
}
#price{
    font-weight: bold;
}
.leftpanel{
    float: left;
    margin-right: 1rem;
}
.rightpanel{
    margin-top: 1rem;
}

.footer{
    text-align: right;
    top: 3rem;
}