.product
{
    float: left;
    width: 220px;
    height: 120px;
    margin-bottom: 3rem;
    padding: 5px;
    cursor: pointer;
}
.product img
{
    width: 100px;
    height: 100px;
    object-fit: contain;
    float: left;
}
.product .extra
{
    padding-left: 5px;
    float: right;
    width: 110px;
    height: 100%;    

}
.product .footer{
    display: inline-block;
    width: 100%;
    text-align: left;
    position: relative;
    top: -1.5rem;
}
#listView {
    display: inline-block;
    padding: 2rem;
    border: transparent;
}